<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Клиенты</title>
    <style type="text/css">
        TABLE {
            width: 60rem; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }
        TD, TH {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid black; /* Параметры рамки */
        }
        TH {
            background: #E0E6B0; /* Цвет фона */
        }
    </style>
</head>
<body>
   <#-- <h1>Добавление Заказчика</h1>
    <form method="post" action="/clients">
        <label>Имя:
            <input name="firstname" placeholder="Имя">
        </label>
        <label>Фамилия:
            <input name="lastname" placeholder="Фамилия">
        </label>
        <input type="submit" value="Добавить">
    </form>-->
    <br>
    <table>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Действия</th>
        </tr>
        <#list clients as client>
            <tr>
                <td>${client.id}</td>
                <td>${client.firstname}</td>
                <td>${client.lastname}</td>
                <td>
                    <form method="post" action="/clients/${client.id}/delete">
                        <input type="submit" value="Удалить">
                    </form>
                    <a href="/clients/${client.id}">Перейти</a>
                </td>
            </tr>
        </#list>
    </table>
</body>
</html>