<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Все заказы</title>
    <style type="text/css">
        TABLE {
            width: 60rem; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }
        TD, TH {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid black; /* Параметры рамки */
        }
        TH {
            background: #E6B0E0; /* Цвет фона */
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>ID товара</th>
            <th>ID клиента</th>
            <th>Дата</th>
            <th>Количество</th>
        </tr>
        <#list orders as order>
            <tr>
                <td>${order.id}</td>
                <td>${order.product.description}</td>
                <td>${order.client.firstname} ${order.client.lastname}</td>
                <td>${order.date}</td>
                <td>${order.amount}</td>
            </tr>
        </#list>
    </table>
</body>
</html>